.navbar-text {
    color: whitesmoke;
    font-family: Uni Sans, Whitney Book, BlinkMacSystemFont, -apple-system,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.75em;
}
