.stat-container {
    color: white;
    align-items: center;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 1.3em;
}

.center {
    margin: auto;
}

.div-title {
    color: #7289da;
    font-weight: bold;
}
